$coop-color: #c6538c;
$border-dark: rgba($coop-color, 0.88);


body{
  background-color: #dadada;
}


.wrapper{
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.form-wrap{
  display: flex;
  flex-flow: column;
  background-color: white;
  padding: 40px 35px;
  border-radius: 5px;
  box-shadow: 1;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.submitButton{
  display: inline-block;
    vertical-align: middle;
    font: inherit;
    text-align: center;
    margin: 0;
    box-shadow: 0 0 0 2px #046ab8 inset;
    cursor: pointer;
    overflow: visible;
    padding: 15px 30px;
    background-color: transparent;
    border: none;
    border-radius: 999px;
}

.submitButton:hover{
  background-color: #0494cd;
}